.hero-section {
    width: 100vw;
    height: 400vh;
    font-family: "Bacasime Antique", serif;
    overflow: visible;
    position: relative;
    z-index: 2;
    top: 0;
        color: #efbf04;
}

.hero-section .intro {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #efbf04;
        position: sticky;
    top: 0;
}

.hero-section .text-1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    word-spacing: -20px;
        display: flex;
        gap:100px;
}
.hero-section .text-1 span{
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
}


.text-container {
  position: relative;
  width: 200px;
  height: 160px; /* enough for two lines */
  font-size: 80px;
  font-weight: 400;
    font-family: "Bacasime Antique", serif;
    text-transform: uppercase;
}

.text-char {
  position: absolute;
  white-space: nowrap;
}
.line2 {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  opacity: 0;
  transform: translateY(30px);
}

.c {
  position: absolute;
  opacity: 0;
  transform: translateY(30px);
}
.intro-circle {
    z-index: 2;

    width: 200px;
    height: 200px;
    border-radius: 160px;
    position: absolute;
   
    box-shadow: 0px 6px 0px #ffc107 inset;
    filter: blur(0px);
    opacity: 0;
    border: 6px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-circle img{
 width: 224px;
 z-index: 2;
}

.hero-text-2 {
  position: absolute;
  font-size: 71px;
  color: #183875;
  bottom: 15vh;
  width: 100%;
  z-index: 1;
  text-align: center;
  font-weight: 500;
  opacity: 0;
}
.about-section {
 
  position: relative;
  overflow: visible;
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}
.about-header {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-header h2{
  text-transform: uppercase;
  font-size: 48px;
  max-width: 980px;
  text-align: center;
  font-family: "Bacasime Antique", serif ;
  font-weight: 400;
}
.about-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom:100px ;
   
}


.about-content {
  max-width: 530px;
}

.about-content h2 {
  font-size: 48px;

  font-family: "Bacasime Antique", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 10px;
}

.about-content p {
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
}

.about-content span {
  font-family: "Pinyon Script", cursive;
  font-size: 100px;
  color: #efbf04;
  font-weight: 100;
}

.hero-circle,
.about-section .about-circle1 {
  position: fixed;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  top: 60px;
  left: calc(50% - 150px); 
  border: 6px solid #efbf04;
   overflow: hidden;
}

.about-circle2, .about-circle3{
     position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 60px;
  right: -100px;
  border: 6px solid #efbf04;
  z-index: 3;
}

.about-section .hero-circle2 {
 
  position: absolute;
      transform: translate(0px, -800px);
}

.about-section .hero-circle2 video,.about-section .about-circle1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.pillars-animation {
  height: 400vh;
  position: relative;
  overflow: visible;
  background: linear-gradient(90deg, #0d1324 0%, #0e1a3f 66%, #000513 100%);
  box-shadow: 0px 30px 36px 7px rgba(54, 32, 4, 0.71);
}

.scroll-down {
        position: absolute;
    bottom: 30px;
    z-index: 2;
    font-family: arial;
    font-size: 10px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #fff;
}
span.icon {
    width: 15px;
    height: 26px;
    border: 3px solid #fff;
    display: inline-block;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    
}
span.icon:after {
    width: 5px;
    height: 7px;
    background: #fff;
    border-radius: 10px;
    content: '';
    display: inline-block;
    transform: translateY(3px);
      animation: moveY 1.6s ease-in-out infinite alternate;

}
@keyframes moveY {
  0% {
    transform: translateY(0px)  scaleY(.6);
  }
  50% {
    transform: translateY(6px) scaleY(1.1);
  }
  100% {
    transform: translateY(0px)  scaleY(.6);
  }
}


.dot-controller {
    position: sticky;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 6px;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.dot-parent {
    position: absolute;
    overflow: visible;
    right: 40px;
    top: 0;
    height: 100%;
}
.dot-parent .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #bbb;
  cursor: pointer;
  transition: transform 0.3s, background 0.3s;
      background: rgb(255 255 255 / 20%);
      /* border:2px solid #0e1a3e; */
}

.dot-controller .dot[data-step="0"],.dot-controller .dot[data-step="5"] {
    width: 24px;
    border-radius: 3px;
    height: 10px;
}

.dot-parent .dot.active {
  transform: scale(1.4);
  background: #111;
}
.current-0 .dot-controller  .dot[data-step="0"]{
  background-color: #efbf04;
}
.current-1 .dot-controller  .dot[data-step="1"]{
  background-color: #efbf04;
}
.current-2 .dot-controller  .dot[data-step="2"]{
  background-color: #efbf04;
}
.current-3 .dot-controller  .dot[data-step="3"]{
  background-color: #efbf04;
}
.current-4 .dot-controller  .dot[data-step="4"]{
  background-color: #efbf04;
}
.current-5 .dot-controller  .dot[data-step="5"]{
  background-color: #efbf04;
}