@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&display=swap");


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
}

.intro-section {
  width: 100vw;
  height: 300vh;

  font-family: "Bacasime Antique", serif;
  overflow: visible;
  position: relative;
  z-index: 2;
  top: 0;
}

.intro-section .intro-content {
  width: 100%;
  position: sticky;
  height: 100vh;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-section .intro {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: #efbf04;
}

.intro-section .text {
  text-align: center;
  text-transform: uppercase;
  font-size: 80px;
  word-spacing: -20px;
}

.intro-section .text span {
  display: inline-block;
}

.intro-section .text.text-1 {
  overflow: hidden;
  letter-spacing: 60px;
  opacity: 0;
}

.intro-section .text.text-2 {
  width: 0;
  opacity: 0;
  transform: translate(0, 120px);
  width: 580px;
  position: absolute;
}

.r-hidden {
  display: inline-block;
  width: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 28px;
  overflow: hidden;
  text-indent: -24px;
  transform: translateX(-52px);
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 160px;
  background-color: #fff;
  position: absolute;
  z-index: -1;
  box-shadow: 0px 6px 0px #ffc107 inset;
  filter: blur(0px);
  opacity: 0;
  border: 6px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-video {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  z-index: -2;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

.intro-video video {
  --stop: 0%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-mask-image: radial-gradient(circle, #000 var(--stop), transparent 0%);
  mask-image: radial-gradient(circle, #000 var(--stop), transparent 0%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.hero-2 {
  --stop: 0%;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(hero-image-1.jpg);
  z-index: 1;
  background-size: 104%;
  background-position: center;
  -webkit-mask-image: radial-gradient(circle, #000 var(--stop), transparent 0%);
  mask-image: radial-gradient(circle, #000 var(--stop), transparent 0%);
  overflow: visible;
}
.hero-2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.hero-circle,
.about-section .hero-circle {
  position: fixed;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  top: 60px;
  right: calc(50% - 150px);
  border: 6px solid #efbf04;
}

.about-section .hero-circle {
  overflow: hidden;
}

.about-section .hero-circle video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.skip-intro {
  position: absolute;
  bottom: 50px;
  right: calc(50% - 100px);
  z-index: 9999;
  padding: 10px 22px;
  font-size: 16px;
  font-family: inherit;
  color: #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  width: 200px;
  background: none;
  border: 0;
  text-transform: uppercase;
}
.skip-intro:hover {
  background: rgba(255, 255, 255, 0.2);
}

.about-section {
  height: 400vh;
  position: relative;
  overflow: visible;
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

.about-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.about-content {
  max-width: 530px;
}

.about-content h2 {
  font-size: 54px;

  font-family: "Bacasime Antique", serif;
  font-weight: 400;
  font-style: normal;
}

.about-content p {
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
}

.about-content span {
  font-family: "Pinyon Script", cursive;
  font-size: 100px;
  color: #efbf04;
  font-weight: 100;
}
.scroll-progress {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  z-index: 9999;
  backdrop-filter: blur(4px);
  font-family: "Montserrat", sans-serif;
  display: none;
}

.pillars-animation {
  height: 600vh;
  position: relative;
  overflow: visible;
  background: linear-gradient(90deg, #0d1324 0%, #0e1a3f 66%, #000513 100%);
  box-shadow: 0px 30px 36px 7px rgba(54, 32, 4, 0.71);
}
.pillars-animation .pillars-content {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.images-container {
  position: relative;
  height: 480px;
  width: 85%;
  display: block;
}

.images-list {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.images-list .slide {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;

  transition: all 2s ease;

  z-index: 0;
}
.images-list .slide img,
.images-list .slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.current-4 .images-list .slide img,
.current-4 .images-list .slide video,
.current-5 .images-list .slide img,
.current-5 .images-list .slide video {
  border-radius: 200px;
}
.current-3 .images-list .slide:nth-child(4),
.current-2 .images-list .slide:nth-child(3),
.current-1 .images-list .slide:nth-child(2),
.current-0 .images-list .slide:nth-child(1) {
  top: 0;
  z-index: 2;
}
.prev-3 .images-list .slide:nth-child(4),
.prev-2 .images-list .slide:nth-child(3),
.prev-1 .images-list .slide:nth-child(2),
.prev-0 .images-list .slide:nth-child(1) {
  top: 0;
  z-index: 1;
}
img.circle-d {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0;
  object-fit: scale-down;
  transition: all 1s ease;
  transform: translate(-267px, -273px) rotate(-42deg);
  top: 0;
}
.current-0 .d-1 {
  transform: translate(-97px, 113px) rotate(-42deg);
}
.current-0 .d-2 {
  transform: translate(-26px, 118px) rotate(-69deg);
}
.current-0 .d-3 {
  transform: translate(22px, 77px) rotate(-61deg);
}
.current-0 .d-4 {
  transform: translate(105px, 77px) rotate(-58deg);
}
.current-1 .d-1 {
  transform: translate(-78px, -8px) rotate(26deg);
}
.current-1 .d-2 {
  transform: translate(-20px, 6px) rotate(14deg);
}
.current-1 .d-3 {
  transform: translate(56px, 46px) rotate(14deg);
}
.current-1 .d-4 {
  transform: translate(102px, 150px) rotate(37deg);
}
.current-2 .d-1 {
  transform: translate(-100px, 37px) rotate(21deg);
}
.current-2 .d-2 {
  transform: translate(-35px, 103px) rotate(-16deg);
}
.current-2 .d-3 {
  transform: translate(44px, 106px) rotate(-38deg);
}
.current-2 .d-4 {
  transform: translate(80px, 20px) rotate(17deg);
}

.current-3 .d-1 {
  transform: translate(-110px, -48px) rotate(21deg);
}
.current-3 .d-2 {
  transform: translate(-71px, 47px) rotate(21deg);
}
.current-3 .d-3 {
  transform: translate(-14px, 114px) rotate(-34deg);
}
.current-3 .d-4 {
  transform: translate(63px, 115px) rotate(-33deg);
}
.current-4 .d-1 {
  transform: translate(calc(0vw - 100px), calc(100vh - 280px)) rotate(-33deg);
}
.current-4 .d-2 {
  transform: translate(calc(0vw - 50px), calc(100vh - 300px)) rotate(-33deg);
}
.current-4 .d-3 {
  transform: translate(calc(0vw - 0px), calc(100vh - 350px)) rotate(-42deg);
}
.current-4 .d-4 {
  transform: translate(calc(0vw - -34px), calc(100vh - 422px)) rotate(-42deg);
}
.current-5 .d-1 {
  transform: translate(calc(-50vw - 0px), calc(100vh - 202px)) rotate(52deg);
}
.current-5 .d-2 {
  transform: translate(calc(-50vw + 77px), calc(100vh - 230px)) rotate(52deg);
}
.current-5 .d-3 {
  transform: translate(calc(-50vw + 180px), calc(100vh - 236px)) rotate(80deg);
}
.current-5 .d-4 {
  transform: translate(calc(-50vw + 240px), calc(100vh - 202px)) rotate(112deg);
}

.current-5 .pillars-inner-container {
  transition: all 1s ease;
  transform: translateY(-100vh);
}
.partners-inner-container {
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  gap: 40px;
  transform: translateY(100vh);
  transition: all 1s ease;
}
.partners-inner-container h5 {
  font-family: "Bacasime Antique", serif;
  font-size: 60px;
  color: #e4b450;
  opacity: 0.4;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}
.partners-inner-container p {
  color: #cad7ff;
  font-size: 30px;
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
  font-weight: 300;
  opacity: 0.6;
}
.partners-inner-container a {
  background: #efbf04;
  text-decoration: none;
  width: 300px;
  text-align: center;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #000;
  margin-bottom: 100px;
  font-family: "Bacasime Antique", serif;
}
.current-5 .partners-inner-container {
  opacity: 1;
  transform: translateY(0);
}

.images-list .slide h4 {
  opacity: 0;
  color: #e4b450;
  font-size: 20px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 0 20px;
}
.current-4 .images-list .slide,
.current-5 .images-list .slide {
  width: 25%;
  height: calc(100% - 80px);
  object-fit: cover;
  transition: all 1s ease;
  z-index: 0;
  box-sizing: border-box;

  border-radius: 200px;
  border: 10px solid #0e1837;
  animation: moveSmooth 4s ease-in-out forwards;
}

@keyframes moveSmooth {
  0% {
    top: 0;
  }
  100% {
    width: 25%;
    top: 0;
  }
}
.current-4 .images-list .slide h4,
.current-5 .images-list .slide h4 {
  opacity: 1;
}
.current-4 .images-list .slide:nth-child(2),
.current-5 .images-list .slide:nth-child(2) {
  left: 25%;
}
.current-4 .images-list .slide:nth-child(3),
.current-5 .images-list .slide:nth-child(3) {
  left: 50%;
}
.current-4 .images-list .slide:nth-child(4),
.current-5 .images-list .slide:nth-child(4) {
  left: 75%;
}

.cursor-button {
  position: absolute;
  width: 130px;
  left: 100%;
  top: 100%;
  height: 130px;
  border-radius: 50%;
  pointer-events: none;
  opacity: 1;
  transform: translate(-50%, -50%);

  z-index: 99999 !important;
  /* border: 20px solid black; */
  box-sizing: border-box;
  box-shadow: 0 0px 0px 30px black inset;
  padding: 10px;
  background: #ffd7003b;
}
@keyframes rotateMove {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, 130%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.cursor-button svg {
  width: 110px;
  height: 110px;
  background: transparent;
}
.cursor-button svg path {
  fill: transparent;
}
.cursor-button svg text {
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  fill: #fff;
  display: none;
}
.current-4 .cursor-button,
.current-5 .cursor-button {
  display: none;
}
.current-0 .cursor-button svg text.text1 {
  display: block;
}
.current-1 .cursor-button svg text.text2 {
  display: block;
}
.current-2 .cursor-button svg text.text2 {
  display: block;
}
.current-3 .cursor-button svg text.text2 {
  display: block;
}
.pillars-inner-container {
  max-width: 1140px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: end;
  margin: 0 auto;
  padding-bottom: 160px;
}
.pillars-scroller {
  display: flex;
  gap: 40px;
  width: max-content;
  color: #e4b450;
  opacity: 0.4;
  align-items: center;
  transition: all 1s ease;
}
.pillars-scroller h2 {
  font-family: "Bacasime Antique", serif;
  font-size: 60px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}
.pillars-animation h1 {
  font-family: "Bacasime Antique", serif;
  font-size: 60px;
  font-weight: 500;
  margin: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  top: -90px;
  color: #e4b450;
  opacity: 0;
  transition: all 1s ease;
  text-transform: uppercase;
}
.current-4 h1,
.current-5 h1 {
  opacity: 0.4;
}
.pillars-scroller-container {
  width: 100%;
  position: absolute;
  top: 32px;
  left: 0;
}
.pillars-scroller-content {
  width: 1140px;
  margin: 0 auto;
}
.pillars-scroller span.dot {
  background: #e4b450;
  width: 52px;
  height: 52px;
  border-radius: 100px;
}
.current-1 .pillars-scroller {
  transform: translateX(-920px);
}
.current-2 .pillars-scroller {
  transform: translateX(-1640px);
}
.current-3 .pillars-scroller {
  transform: translateX(-2400px);
}

.current-4 .pillars-scroller,
.current-5 .pillars-scroller {
  opacity: 0;
  transition: all 0.01s ease;
}
.page-header {
  position: fixed;
  top: 0px;
  background: transparent;
  z-index: 1000;
  width: 100%;
}
.brand-logo {
  position: relative;
  z-index: 1;
  height: 72px;
  background-image: radial-gradient(#183875 0%, transparent 0%);

  width: 72px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.brand-logo img {
  height: 59%;
  width: auto;
  transition: all 0.5s ease;
}
.open .brand-logo img {
  height: 48%;
}
.nav-toggle {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 48px;
  width: 80px;
  background-color: #183875;

  color: #000;
  cursor: pointer;
  position: relative;
  z-index: 1;
  user-select: none;
  overflow: hidden;
}
.header-content {
  max-width: 1140px;
  margin: 12px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url("./circle.svg");
  background-repeat: repeat;
  background-size: 80px 80px;
  background-color: #fff;
  top: -100vh;
  transition: top 0.5s ease;
  opacity: 0;
}
.open .nav-container {
  animation: showNav 0.5s forwards;
}
@keyframes showNav {
  0% {
    top: -100vh;
    opacity: 0;
  }
  50% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.nav-toggle {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 48px;
  width: 48px;
  border-radius: 50%;

  background-color: #183875;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 1;
  user-select: none;
  align-items: center;
  font-size: 12px;
}
.nav-toggle span {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  line-height: 48px;
  text-align: center;
  transition: transform 1s ease;
}
.open .nav-toggle span:nth-child(2) {
  transform: translateY(0px);
}
.open .nav-toggle span:nth-child(1) {
  transform: translateY(-60px);
}
.nav-toggle span:nth-child(2) {
  transform: translateY(60px);
}
.nav-toggle span:nth-child(1) {
  transform: translateY(0px);
}

.open .brand-logo {
  background-image: radial-gradient(#183875 100%, transparent 100%);
}
@keyframes drift {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 120px 120px;
  }
}

.nav-content {
  max-width: 1140px;
  margin: 120px auto;
}
.nav-content {
  display: flex;
  justify-content: space-between;
}
.nav-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.nav-left a {
  height: 80px;
  font-family: "Bacasime Antique", serif;
  color: #000;
  font-weight: 400;
  font-size: 54px;
  min-width: 289px;
  border-radius: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 40px;
  text-decoration: none;
  transition: all 0.3s ease 0.6s;
  position: relative;
}
.nav-left a:hover {
  color: #fff;
}
.nav-left a:after {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 0;
  top: 20px;
  background-color: #efbf04;
  color: #fff;
  content: "";
  z-index: -1;
  border-radius: 60px;
}
.nav-left a:hover::after {
  animation: navAnim 0.6s forwards cubic-bezier(0, 0.78, 0.49, 0.63);
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20%;
}
.social-icons a {
    color: #efbf04;
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 11px;
}
@keyframes navAnim {
  0% {
    top: 20px;
    width: 0px;
    height: 0px;
    left: -40px;
  }
  50% {
    top: 0px;
    width: 60px;
    height: 60px;
    left: 0px;
  }
  70% {
    top: 0px;
    width: 60px;
    height: 60px;
  }
  100% {
    top: 0;
    width: 100%;
    height: 100%;
    left: 0px;
  }
}
.nav-right {
    max-width: 360px;
    font-size: 18px;
    font-weight: 500;
    
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.nav-right .newsletter {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nav-right p, .nav-right h2, .nav-right h3 {
    margin: 0;
  
}
.nav-right .newsletter h2 {
    font-family: 'Bacasime Antique' , serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}
.nav-right .newsletter input[type="email"] {
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #efbf04;
    border-radius: 4px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}
.nav-right .newsletter button {
    background: #efbf04;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-transform: uppercase;
    font-family: 'Bacasime Antique', serif;
}
.hero-text-2 {
  position: fixed;
  font-size: 71px;
  color: #183875;
  bottom: 15vh;
  width: 100%;
  z-index: 1;
  text-align: center;
  font-weight: 500;
  opacity: 0;
}
.hero-text-2r {
  transform: translateY(-40px);
  opacity: 0;
}

.hero2-texts {
  position: absolute;
  bottom: 150px;
  font-size: 54px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column-reverse;
  text-transform: uppercase;
  gap: 30px;
}
.hero2-texts .hero-2text {
  color: #fff;
}
.csr {
  background: white;
  position: relative;
  height: 100vh;
}
.csr-content {
  display: flex;
  height: 100%;
  align-items: center;

  margin: 0 auto;
}

.csr-content > div.section {
  justify-content: space-between;
  flex: 1;
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "Bacasime Antique", serif;
  font-size: 42px;
  text-transform: uppercase;
  height: 100vh;
  background-image: url("./circle.svg");
  background-repeat: repeat;
  background-size: 80px 80px;
  background-color: #fff;
}
.csr-content > div.section-left {
  background-color: #fdf7df;
  justify-content: flex-end;
  width: 50%;
}
.csr-content > div.section-left:hover,
.csr-content > div.section-right:hover {
  z-index: 2;
  background-color: #183875;
  color: #fff;
  background-blend-mode: darken;
}
.csr-content > div.section-right {
  background-color: #faebb1;
  justify-content: flex-start;
}
.csr-content > div h2 {
  font-weight: 300;
}
.csr-content > div .content {
  max-width: 370px;
}
.csr-content > div img {
  height: 400px;
}
.csr .globe-video {
  opacity: 0;
}
.csr:hover .globe-video {
  opacity: 1;
}
.globe-video {
  height: 400px !important;
  width: 400px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  left: Calc(50% - 195px);
  top: Calc(50% - 195px);
  scale: 1;
  pointer-events: none;
}
.globe-video video {
  height: 488px;
  width: 472px;
  object-fit: cover;
  object-position: center;
  object-position: center;
  transform: translate(-37px, -27px);
}
.globe-video:after {
  content: "";
  height: 100%;
  width: 100%;
  background: #000e662b;
  position: absolute;
  top: 0;
  backdrop-filter: contrast(1.5);
  box-shadow: 0 0 26px 19px #ffffffa3 inset;
  border-radius: 50%;
}

.ribbon {
  width: 100%;
  overflow: hidden;
  background: #231f20;
  padding: 20px 0;
}

.ribbon__track {
  display: flex;
  width: max-content;
  animation: ribbon-scroll 20s linear infinite;
}

.ribbon__item {
  font-size: 26px;
  font-weight: 100;
  color: #fff;
  padding: 0 100px 0 40px;
  white-space: nowrap;
  font-family: "Bacasime Antique", serif;
  display: flex;
  align-items: center;
  gap: 30px;
  background-image: url(star-icon.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 32px;
}
.ribbon__item span {
  background-color: #efbf04;
  border-radius: 20px;
  padding: 4px 12px;
  color: #231f20;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
@keyframes ribbon-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.post-track > * {
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.post-track > * {
width: calc(20% - 40px);
  height: 100%;
  opacity: 1;
  flex-shrink: 0;
  border-radius: 12px;
  object-fit: cover;
  transition: all 1s ease-in-out;
}

.post-track > *.active-center {

    
}
.post-track > *:nth-child(1), .post-track > *:nth-child(5) {
    transform: translate(0px, 150px);
}
.post-track > *:nth-child(2), .post-track > *:nth-child(4) {
    transform: translate(0px, 50px);
}
.post-track.visible > *:nth-child(1), .post-track.visible > *:nth-child(5) ,.post-track.visible > *:nth-child(2), .post-track.visible > *:nth-child(4){
    transform: translate(0px, 0px);
}

.social-container {
  width: 100%;
  padding: 40px 0;
 
  position: relative;
}
.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
    padding: 60px 0px;
}
.section-header h2 {
    font-family: 'Bacasime Antique', serif;
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
    color: #efbf04;
    font-weight: 400;
}
.section-header h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    margin: 0;
    font-weight: 400;
    color: #555;
}
.social-content {
  display: flex;
  align-items: center;
  gap: 40px;
   height: 200vh;
  flex-direction: column;
  height: 100vh;
    position: sticky;
    top: 0;
}

.post-scroller {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}
.post-track {
   display: flex;
  align-items: center;
  gap: 40px;
  height: 380px;
  will-change: transform; /* smoother */
}

.post-track img, .post-track video {
    height: 100%;
    border-radius: 10px;
    flex-shrink: 0;
    width: calc(20% - 40px);
    object-fit: cover;
    object-position: center;
}

.social-cta {
   
    
}

.social-cta-content .word {
  display: inline-block;
  opacity: .5;
}
.social-cta-container {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    gap: 20px;
    align-items: center;
    padding: 60px 0;
}

.social-cta-content {
    text-align: center;
    font-family: 'Bacasime Antique', serif;
    font-size: 42px;
    text-transform: uppercase;
}
 .social-cta-container p{
    text-align: center;
    font-size: 20px;
}
.social-cta-container button {
   font-family: "Bacasime Antique", serif;
    border-radius: 40px;
    display: inline-block;
    width: 240px;
    text-align: center;
    background:#000513;
    border: 0;
    line-height: 60px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.page-footer {
    background-color: #1D1C1C;
    padding: 80px 0;
    position: relative;
    z-index: 3;

}
.footer-awards {
    max-width: 1140px;
    margin: 0 auto;
    background-image: url(award-bg.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    box-shadow: 0 0 79px 31px #1d1c1c inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
        min-height: 580px;
        position: relative;
        z-index: 0;
}
.award-tagline {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    font-size: 20px;
}
.page-footer h2{
    font-size: 72px;
    color: #efbf04;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
   font-family: "Bacasime Antique", serif;
   font-weight: 400;
}

.award-list {
    display: flex;
    gap: 0;
    padding-top: 60px;
}
.award {
    width: 140px;
    height: 90px;
    position: relative;
    border: 7px solid #fff;
    box-shadow: 0 0 24px 0 black;
    overflow: hidden;
}
.award:nth-child(3) {
    scale: 1.4;
    z-index: 6;
}
.award:nth-child(2), .award:nth-child(4) {
    z-index: 5;
    scale: 1.2;
}
.award img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left:100%;
    object-fit: cover;
    object-position: center;
}



/* ============================================
   ACTIVE 1
===============================================*/
.award-list.active-1 .award:nth-child(1) img:nth-child(4),
.award-list.active-1 .award:nth-child(2) img:nth-child(5),
.award-list.active-1 .award:nth-child(3) img:nth-child(1),
.award-list.active-1 .award:nth-child(4) img:nth-child(2),
.award-list.active-1 .award:nth-child(5) img:nth-child(3){ left: 0; z-index: 2; transition: all 1s;  }

.award-list.active-2 .award:nth-child(1) img:nth-child(4),
.award-list.active-2 .award:nth-child(2) img:nth-child(5),
.award-list.active-2 .award:nth-child(3) img:nth-child(1),
.award-list.active-2 .award:nth-child(4) img:nth-child(2),
.award-list.active-2 .award:nth-child(5) img:nth-child(3){ left: -100%; z-index: 2; transition: all 1s;  }


/* ============================================
   ACTIVE 2
===============================================*/
.award-list.active-2 .award:nth-child(1) img:nth-child(5),
.award-list.active-2 .award:nth-child(2) img:nth-child(1),
.award-list.active-2 .award:nth-child(3) img:nth-child(2),
.award-list.active-2 .award:nth-child(4) img:nth-child(3),
.award-list.active-2 .award:nth-child(5) img:nth-child(4){ left:0; z-index: 2;  transition: all 1s;}

.award-list.active-3 .award:nth-child(1) img:nth-child(5),
.award-list.active-3 .award:nth-child(2) img:nth-child(1),
.award-list.active-3 .award:nth-child(3) img:nth-child(2),
.award-list.active-3 .award:nth-child(4) img:nth-child(3),
.award-list.active-3 .award:nth-child(5) img:nth-child(4){ left:-100%; z-index: 2;  transition: all 1s;}



/* ============================================
   ACTIVE 3
===============================================*/
.award-list.active-3 .award:nth-child(1) img:nth-child(1),
.award-list.active-3 .award:nth-child(2) img:nth-child(2),
.award-list.active-3 .award:nth-child(3) img:nth-child(3),
.award-list.active-3 .award:nth-child(4) img:nth-child(4),
.award-list.active-3 .award:nth-child(5) img:nth-child(5){ left:0; z-index: 2;  transition: all 1s; }

.award-list.active-4 .award:nth-child(1) img:nth-child(1),
.award-list.active-4 .award:nth-child(2) img:nth-child(2),
.award-list.active-4 .award:nth-child(3) img:nth-child(3),
.award-list.active-4 .award:nth-child(4) img:nth-child(4),
.award-list.active-4 .award:nth-child(5) img:nth-child(5){ left:-100%; z-index: 2;  transition: all 1s; }

/* ============================================
   ACTIVE 4
===============================================*/
.award-list.active-4 .award:nth-child(1) img:nth-child(2),
.award-list.active-4 .award:nth-child(2) img:nth-child(3),
.award-list.active-4 .award:nth-child(3) img:nth-child(4),
.award-list.active-4 .award:nth-child(4) img:nth-child(5),
.award-list.active-4 .award:nth-child(5) img:nth-child(1){ left:0; z-index: 2; transition: all 1s;  }

.award-list.active-5 .award:nth-child(1) img:nth-child(2),
.award-list.active-5 .award:nth-child(2) img:nth-child(3),
.award-list.active-5 .award:nth-child(3) img:nth-child(4),
.award-list.active-5 .award:nth-child(4) img:nth-child(5),
.award-list.active-5 .award:nth-child(5) img:nth-child(1){ left:-100%; z-index: 2; transition: all 1s;  }

/* ============================================
   ACTIVE 5
===============================================*/
.award-list.active-5 .award:nth-child(1) img:nth-child(3),
.award-list.active-5 .award:nth-child(2) img:nth-child(4),
.award-list.active-5 .award:nth-child(3) img:nth-child(5),
.award-list.active-5 .award:nth-child(4) img:nth-child(1),
.award-list.active-5 .award:nth-child(5) img:nth-child(2){ left:0; z-index: 2;  transition: all 1s; }

.award-list.active-1 .award:nth-child(1) img:nth-child(3),
.award-list.active-1 .award:nth-child(2) img:nth-child(4),
.award-list.active-1 .award:nth-child(3) img:nth-child(5),
.award-list.active-1 .award:nth-child(4) img:nth-child(1),
.award-list.active-1 .award:nth-child(5) img:nth-child(2){ left:-100%; z-index: 2;  transition: all 1s; }

.award-text p {opacity: 0; transition: all .5s ease-in;}
.award-text.active-1 p:nth-child(1),
.award-text.active-2 p:nth-child(2),
.award-text.active-3 p:nth-child(3),
.award-text.active-4 p:nth-child(4),
.award-text.active-5 p:nth-child(5)

{
    opacity: 1;
    transition: all 1s ease-in .5s;
}
.award-text {
    position: relative;
    width: 100%;
    padding: 60px 0 20px;
}
.award-text p {
    position: absolute;
    width: 100%;
    color: #fff;
    width: 100%;
    text-align: center;
}
.footer-links {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer-links ul {
    display: flex;
    gap: 0;
    list-style: none;
    text-transform: uppercase;
    margin: 0;
}
.footer-links ul li {
    border-right: 1px solid #fff;
}
.footer-links ul a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    display: block;
    text-align: center;
}

.footer-links {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}
.footer-links ul.other-links a {
    font-size: 12px;
    opacity: .5;
    padding: 2px 20px;
}